DOMAIN_NAME=
COMPOSE_PROJECT_NAME=
DATA_PATH=
SQL_HOSTNAME=
SQL_DATABASE=
SQL_ROOT_PASSWORD=
SQL_USER=
SQL_PASSWORD=

WP_URL=
WP_TITLE=

WP_ADMIN_USER=
WP_ADMIN_PASS=
WP_ADMIN_EMAIL=

WP_USER=
WP_PASS=
WP_EMAIL=
